html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

header {
	float: right;
	margin-right: 750px;
	font-size: 28px;
}

body {
	background-color: #e1e1e1;
}

main {
	margin-right: 20px;
}

img {
	width: 700px;
	height: 450px;
	float: left;
}

aside {
	float: right;
	background-color: white;
	padding: 20px;
	margin: 10px;
	border-radius: 20px;
	border: 3px solid black;
}

footer {
	float: left;
	display: inline;
}

footer > ul {
	list-style: none;
	display: inline;
}

/*----------CLASSES----------*/

.top_nav_bar {
	text-align: center;
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 30px;
	background-color: #757475;
	color: white;
	border: 3px dotted black;
}

.sidebar {
	float: left;
	left: 0px;
	height: 700px;
	width: 200px;
	background-color: #757475;
	color: white;
	border: 3px dotted black;
}

.footer {
	float: left;
	bottom: 0px;
	left: 0px;
	margin-left: 20px;
}