html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

header {
	float: right;
}

body {
	background-color: #e1e1e1;
}

main {

}

img {
	width: 700px;
	height: 450px;
	float: left;
}

aside {
	float: right;
}

footer {
	float: left;
	width: 100%;
}

ul {
	list-style: none;
}

li {
	
}

/*----------CLASSES----------*/

.top_nav_bar {
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 30px;
	background-color: blue;
	opacity: .20;
}

.sidebar {
	position: absolute;
	left: 0px;
	height: 100%;
	width: 200px;
	background-color: red;
	opacity: .20;
}

.footer {
	float: left;
	margin-left: 50px;
	margin-right: 50px;

}